<div class="container">
  <h2>Choose Origin & Destination Airports:</h2>

  <form [formGroup]="flightForm" (submit)="handleSubmit()">
    <div>
      <mat-form-field appearance="fill" class=" ">
        <mat-label class="color-white select-bg">Origin</mat-label>
        <mat-select
          class="color-white select-bg"
          formControlName="origin"
          required
        >
          <mat-option
            *ngFor="let origin of originList"
            class="color-white select-bg"
            [value]="origin"
            >{{ origin }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label class="color-white select-bg">Destination</mat-label>
        <mat-select
          class="color-white select-bg"
          formControlName="destination"
          required
        >
          <mat-option
            *ngFor="let destination of destinationList"
            class="color-white select-bg"
            [value]="destination"
            >{{ destination }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="transparent-bg">
        <mat-label class="color-white transparent-bg"
          >Cabin Selection</mat-label
        >
        <mat-select class="color-white" formControlName="cabin" required>
          <mat-option
            *ngFor="let cabin of cabinList"
            class="color-white select-bg"
            [value]="cabin"
            >{{ cabin }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <mat-slide-toggle>Show Pro Filters</mat-slide-toggle> -->

    <button
      mat-raised-button
      class="brand-button-bg color-white"
      type="submit"
      (click)="handleSubmit()"
    >
      Search
    </button>
  </form>

  <div class="card-container">
    <mat-card class="result-card">
      <img mat-card-image src="path_to_logo" alt="logo" />
      <mat-card-title>KLM</mat-card-title>
      <mat-card-subtitle
        >{{ flightForm.value.origin }} ->
        {{ flightForm.value.destination }}</mat-card-subtitle
      >
      <mat-card-content>
        <p>Min Business Miles: N/A</p>
        <p>Min Economy Miles: 53500 + $189</p>
        <p>Min First Miles: N/A</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="result-card">
      <img mat-card-image src="path_to_logo" alt="logo" />
      <mat-card-title>Qantas</mat-card-title>
      <mat-card-subtitle
        >{{ flightForm.value.origin }} ->
        {{ flightForm.value.destination }}</mat-card-subtitle
      >
      <mat-card-content>
        <p>Min Business Miles: 144600 + $177</p>
        <p>Min Economy Miles: 55200 + $158</p>
        <p>Min First Miles: N/A</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
