<div class="container">
  <h2>Choose Origin & Destination Airports:</h2>

  <form [formGroup]="flightForm" (submit)="handleSubmit()">
    <div>
      <mat-form-field appearance="fill" class=" ">
        <mat-label class="color-white select-bg">Origin</mat-label>
        <mat-select
          class="color-white select-bg"
          formControlName="origin"
          required
        >
          <mat-option
            *ngFor="let origin of originList"
            class="color-white select-bg"
            [value]="origin"
            >{{ origin }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label class="color-white select-bg">Destination</mat-label>
        <mat-select
          class="color-white select-bg"
          formControlName="destination"
          required
        >
          <mat-option
            *ngFor="let destination of destinationList"
            class="color-white select-bg"
            [value]="destination"
            >{{ destination }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="transparent-bg">
        <mat-label class="color-white transparent-bg"
          >Cabin Selection</mat-label
        >
        <mat-select class="color-white" formControlName="cabin" required>
          <mat-option
            *ngFor="let cabin of cabinList"
            class="color-white select-bg"
            [value]="cabin"
            >{{ cabin }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <mat-slide-toggle>Show Pro Filters</mat-slide-toggle> -->

    <button mat-raised-button class="brand-button-bg color-white" type="submit">
      Search
    </button>
  </form>

  <div *ngIf="!loading; else loader">
    <div class="card-container p-3" *ngIf="flights.length; else noFlight">
      <div class="result-card rounded-4 mx-2" *ngFor="let flight of flights">
        <div class="text-center py-2">
          <img mat-card-image src="path_to_logo" alt="logo" />
        </div>
        <div class="text-center airline-name py-3">
          {{ flight.partner_program }}
        </div>
        <div class="text-center route">
          {{ flightForm.value.origin }} -> {{ flightForm.value.destination }}
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <span class="dates">
            {{ flight.departureTimeFrom | date : "yyyy-MM-dd" }} {{ " - " }}
            {{ flight.departureTimeTo | date : "yyyy-MM-dd" }}
          </span>
        </div>

        <mat-card-content>
          <div class="text-center py-3">
            <h1 class="min-miles">
              {{ flight.min_business_miles ? flight.min_business_miles : "NA" }}
            </h1>
            <p class="miles-label">Min Business Miles</p>
          </div>
          <div class="text-center py-3">
            <h1 class="min-miles">
              {{ flight.min_economy_miles ? flight.min_economy_miles : "NA" }}
              <span class="additional-charges">
                {{
                  flight.min_economy_tax ? "+ $" + flight.min_economy_tax : ""
                }}
              </span>
            </h1>
            <p class="miles-label">Min Economy Miles</p>
          </div>
          <div class="text-center py-3">
            <h1 class="min-miles">
              {{ flight.min_first_miles ? flight.min_first_miles : "NA" }}
            </h1>
            <p class="miles-label">Min First Miles</p>
          </div>
        </mat-card-content>
      </div>
    </div>
    <ng-template #noFlight>
      <h2 class="text-center">Try another search route.</h2>
    </ng-template>
  </div>
  <ng-template #loader>
    <h2 class="text-center">Finding flights</h2>
  </ng-template>
</div>
